@keyframes unitsAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  margin-right: 75px;
  margin-bottom: 20px;
}

.header__item {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.header__btn-bg {
  width: 44px;
  height: 44px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  border-radius: 5px;
  background-image: url(../../img/refresh.svg);
}

.language {
  width: 71px;
  background-color: rgba(174, 181, 185, 0.5);
  display: flex;
  justify-content: space-evenly;
  &__text {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

.degrees {
  width: 88px;
  height: 44px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  &__btn {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 44px;
    height: 44px;
    color: $text-color;
    background-color: $bg-color;
  }
  &__disable {
    background-color: $disable-color;
  }
  &__active {
    animation-name: unitsAnimation;
    animation-duration: 300ms;
  }
}
.search__form {
  display: flex;
  position: relative;
}
.search__input {
  border: 1px solid rgba(228, 227, 227, 0.2);

  background-color: $disable-color;
  max-width: 274px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-feature-settings: "cpsp" on;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    font-feature-settings: "cpsp" on;
  }

  @media screen and (min-width: 768px) {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    width: 274px;
  }
}
.search__btn {
  // width: 101px;
  padding: 8px 13px 8px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $text-color;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  @media screen and (min-width: 768px) {
    padding: 13px 20px 13px 20px;
  }
}

.search__error {
  position: absolute;
  top: 55px;
  color: #f75252;
  font-size: 15px;
  font-weight: 400;
  line-height: normal; /* 150% */
  // text-transform: capitalize;
}
.error-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

// .search {
//   margin-left: 50px;
// }
