// Container
.container {
  // max-width: ($containerWidth + $containerPadding) + px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  // outline: 2px solid red;
  // margin: 0 auto;
  // padding: 0 $containerSidePadding + px;

  // @media screen and (min-width: $breakpoint320) {
  //   width: 320px;
  //   padding-right: 20px;
  //   padding-left: 20px;
  // }
  // @media screen and (min-width: $breakpoint768) {
  //   width: 768px;
  //   padding-right: 34px;
  //   padding-left: 34px;
  // }
  // @media screen and (min-width: $breakpoint1200) {
  //   width: 1080px;
  //   padding-right: 15px;
  //   padding-left: 15px;
  // }

  // @media (max-width: $breakpoint1450) {
  //     max-width: 1200px;
  // }

  // @media (max-width: $breakpoint992) {
  //     max-width: 970px;
  // }

  // @media (max-width: $breakpoint768) {
  //     max-width: 740px;
  // }

  // @media (max-width: $breakpoint480) {
  //     max-width: none;
  // }
}

// Body & Locked
body {
  // font-family: $fontMain;
  // &.locked {
  //   overflow: hidden;
  // }
  // // Dark mode styles
  // &.dark {
  //   background: #242424;
  // }
}

button {
  cursor: pointer;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
