// Container
.container {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    // width: 768px;
    padding-right: 27px;
    padding-left: 27px;
  }
  @media screen and (min-width: 1200px) {
    width: 1440px;
    padding-right: 90px;
    padding-left: 90px;
  }
}

// Body & Locked
body {
  font-family: 'Montserrat';
  color: $text-color;
}

button {
  cursor: pointer;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
